<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <script src='lib/angular.js'></script>
    <script src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>
    <script src='lib/angularfire.js'></script>
    <script src='https://login.persona.org/include.js'></script>
  </head>
  <body ng-controller="AppCtrl" ng-mask>
    <span ng-show="user">
      {{user.email}} | <a ng-click="logout()">Logout</a>
    </span>
    <span ng-hide="user"><a ng-click="login()">Login</a></span>

    <div ng-show="user" ng-controller="TaskCtrl">
      <ul>
        <li ng-repeat="task in tasks">
          <div>
            <input type="checkbox" ng-model="task.complete" /> - {{task.text}} - <button ng-click="removeTask(task)">Remove</button>
          </div>
        </li>
      </ul>
      <div>
        <input type='text' ng-model="newTask" placeholder='New Task' ng-keypress="onPress($event)">
        <button ng-click="markAllTasksComplete()">Mark All Complete</button>
        <button ng-click="removeCompletedTasks()">Clear Completed</button>
      </div>

      <div>
        <p>{{remaining}} remaining</p>
        <p>{{count}} total</p>
      <div>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>